body {
    background-color: beige;
}
header {
    background-color: blanchedalmond;
}
footer {
    background-color: bisque;
}
nav {
    background-color:burlywood;
}
main {
    background-color: black;
    color:aliceblue;
}